@charset "UTF-8";
.hero {
  padding: 80px;
}
.hero .section1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.hero .section1-text h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 800;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: center;
}
.hero .section1-text p {
  text-align: center;
  /* Body/L */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.hero .section1-text button {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  background-color: #7c3aed;
  padding: 20px 48px;
  border-radius: 50px;
  border: none !important;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
          box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
}
.hero .background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.hero .desktop {
  margin-top: 80px;
}
.hero .desktop-img {
  margin-left: 80px;
}
.hero .desktop a {
  text-decoration: none;
  color: #7c3aed;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 36px;
}

.header {
  padding: 24px 80px 24px 80px;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 513px;
  height: 48px;
  gap: 38px;
}
.header .navbar-list a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#4c1d95), color-stop(#7c3aed), to(#4c1d95));
  background: linear-gradient(to right, #4c1d95, #7c3aed, #4c1d95);
  -webkit-background-clip: text;
          background-clip: text; /* Для поддержки вебкитовских браузеров */
  color: transparent;
  /* Heading/5 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}
.header .navbar-list a:hover {
  color: #4c1d95;
}
.header .navbar-list .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 387px;
  height: 48px;
  gap: 16px;
  padding: 8px 0px 0 0;
}
.header .navbar-list .left a {
  color: #0f172a;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.header .navbar-list .left a:hover {
  color: #475569;
}
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header .right a {
  padding: 12px 8px;
  margin-right: 16px;
  text-decoration: none;
  color: #7c3aed;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.header .right a:hover {
  color: #4c1d95;
}
.header .right button {
  margin-top: auto;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  background-color: #7c3aed;
  padding: 12px 28px;
  border-radius: 50px;
  border: none !important;
}
.header .right button:hover {
  color: #4c1d95;
  background-color: #a78bfa;
  -webkit-transform: scale(1.5s);
      -ms-transform: scale(1.5s);
          transform: scale(1.5s);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .right button:not(:hover) {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.message .container-st {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Пример значения, уточните его в зависимости от ваших потребностей */
  gap: 10px; /* Пример значения */
}
.message .container-st .pic1 {
  display: grid;
  grid-column: 1/6;
}
.message .container-st .pic2 {
  display: grid;
  grid-column: 1/5;
}
.message .container-st .pic3 {
  display: grid;
  grid-column: -7/-6;
  margin-left: -32px;
}
.message .container-st .pic4 {
  display: grid;
  grid-column: -6/-2;
}
.message .container-st .pic5 {
  display: grid;
  grid-column: -2/-1;
  margin-left: -32px;
}
.message .container-st .team-idea {
  display: grid;
  grid-column: 6/11;
}
.message .container-st .team-idea .team-text {
  background: #4c1d95;
}
.message .container-st .team-idea .team-text h4 {
  margin: 40px 40px 0px 40px;
  color: #a78bfa;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.message .container-st .team-idea .team-text h1 {
  margin: 16px 40px 0px 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.message .container-st .team-idea .team-text p {
  margin: 32px 40px 0 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.message .container-st .team-idea button {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  background-color: #7c3aed;
  padding: 20px 48px;
  border-radius: 50px;
  border: none !important;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
          box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
  margin: 32px 40px 40px 40px;
}
.message .container-st .team-idea button:hover {
  color: #0f172a;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.message .container-st .team-idea button:not(:hover) {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.message .container-nd {
  padding: 80px 80px 80px 60px;
}
.message .container-nd h1 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.message .container-nd h4 {
  margin-top: 16px;
  color: #0f172a;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}
.message .container-nd h5 {
  color: #475569;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.message .container-nd p {
  margin-top: 32px;
  text-align: center;
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.message .container-nd .message-block {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message .container-nd .message-card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.12);
          box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.12);
  padding: 30px 30px 30px 30px;
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  border-radius: 5px;
  border: #0f172a;
  -webkit-transform: translateX(-80px);
      -ms-transform: translateX(-80px);
          transform: translateX(-80px);
}
.message .container-nd .message-card .card-txt {
  width: 600px;
}
.message .container-nd .message-card .card-txt .button {
  margin-top: 26px;
  margin-bottom: 26px;
}
.message .container-nd .message-card .card-txt .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #a78bfa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.message .container-nd .message-card .card-txt .button a:hover {
  color: #7c3aed;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-left: 40px;
}
.message .container-nd .message-card .card-txt .button a:hover .arrow {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.message .container-nd .message-card .card-txt .button a:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.message .container-nd .message-card .card-txt .button a:not(:hover) .arrow {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.message .container-nd .message-card .card-txt .button .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.list-img li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plans {
  padding: 80px 80px 11px 80px;
}
.plans .container-st .plans-header h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.plans .container-st .plans-header p {
  margin-top: 30px;
  text-align: center;
}
.plans .container-st .plans-header .btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}
.plans .container-st button {
  margin-top: 30px;
  color: #7c3aed;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.5px;
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 50px;
  border: 2px solid var(--violet-600, #7c3aed);
}
.plans .container-st button:hover {
  color: #fff;
  background-color: #7c3aed;
  border: 2px solid var(--black-600, #0f172a);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.plans .container-st button:not(:hover) {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.plans-body {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plans-body h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #475569;
}
.plans-body h1 {
  margin-top: 16px;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.plans-body p {
  margin-top: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.plans-body .img-position {
  margin-right: 80px;
}
.plans-body .img-position .tablet {
  position: absolute;
}
.plans-body .img-position .body-pose {
  margin-top: 116px;
  margin-left: 313px;
}
.plans-body .img-position .body-pose .content-box {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 40px 80px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: #0f172a;
}
.plans-body .img-position .body-pose .content-box .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  gap: 8px;
  margin: 16px;
}
.plans-body .img-position .body-pose .content-box .avatar span {
  color: #0f172a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.plans-body .img-position .body-pose .cursor {
  margin-left: -40px;
}

.review-container {
  padding: 80px 0px 0px 90px;
  background-color: #f1f5f9;
  display: grid;
  grid-template-columns: repeat(11, 100px);
  grid-template-rows: repeat(6, 100px);
}
.review-container .review-txt {
  display: grid;
  grid-column: 1/6;
}
.review-container .review-txt p {
  margin-top: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.review-container .review-txt h1 {
  margin-top: 16px;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.review-container .review-txt h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #475569;
}
.review-container .review-txt button {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  background-color: #7c3aed;
  padding: 20px 48px;
  border-radius: 50px;
  border: none !important;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
          box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
}
.review-container .img1 {
  margin-top: 187px;
  display: grid;
  grid-row: 5/8;
}
.review-container .img2 {
  display: grid;
  grid-row: 6/7;
  margin-top: 25px;
  margin-left: 30px;
}
.review-container .img3 {
  display: grid;
  grid-row: 4/5;
  grid-column: 6/7;
  margin-left: -33px;
}
.review-container .img4 {
  display: grid;
  grid-row: 3/5;
  grid-column: 7/8;
  margin-top: -5px;
}
.review-container .img5 {
  display: grid;
  grid-row: -3/-1;
  grid-column: -6/-2;
  margin-left: -27px;
  margin-top: -25px;
}
.review-container .img6 {
  display: grid;
  grid-row: 7/8;
  grid-column: -6/-5;
  margin-top: 53px;
}
.review-container .img7 {
  display: grid;
  grid-row: -6/-4;
  grid-column: 8/12;
  margin-left: 30px;
  margin-top: 70px;
}
.review-container .img8 {
  display: grid;
  grid-row: -1/-1;
  grid-column: -4/-1;
  margin-top: 54px;
  margin-left: -70px;
}
.review-buttom {
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}
.review-buttom .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.review-buttom .content-box h5 {
  color: #0f172a;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
}
.review-buttom .content-box p {
  color: #0f172a;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

footer .footer-middle {
  padding: 48px 80px 48px 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1.5px solid #E2E8F0;
}
footer .footer-middle .footer-list h5 {
  color: #0f172a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  text-transform: uppercase;
}
footer .footer-middle .footer-list ul {
  padding: 12px 0px;
}
footer .footer-middle .footer-list ul a {
  text-decoration: none;
  color: #475569;
  /* Body/M */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
footer .footer-middle .footer-list ul a:hover {
  color: #0f172a;
}
footer .footer-middle .footer-list ul li {
  padding: 12px 0px 12px 0px;
  color: #475569;
}
footer .footer-bottom {
  padding: 24px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-bottom p {
  color: #475569;
  /* Body/M */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
footer .footer-bottom .txt {
  padding: 12px 0px;
}
footer .footer-bottom .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
footer .footer-bottom .links-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 12px 0px;
}
footer .footer-bottom .links-txt a {
  text-decoration: none;
  color: #475569;
  /* Body/M */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
footer .footer-bottom .links-txt a:hover {
  color: #0f172a;
}
footer .footer-bottom .links-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 10px 0px;
}
footer .footer-bottom .links-brands .yt:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .yt:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .fb:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .fb:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .tw:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .tw:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .ig:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .ig:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .in:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .footer-bottom .links-brands .in:not(:hover) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.buttom {
  background-image: url("../assets/Ellipses.png"), url("../assets/Iphones.png");
  background-repeat: no-repeat;
  background-size: 350px, 500px;
  background-position: 0px 100px, 770px 50px;
  height: 436px;
  padding: 80px;
  background-color: #4c1d95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buttom h4 {
  color: #a78bfa;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.buttom h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 61.6px */
}
.buttom p {
  margin-top: 32px;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.buttom button {
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
  background-color: #7c3aed;
  padding: 20px 48px;
  border-radius: 50px;
  border: none !important;
  -webkit-box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
          box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
}

*,
html,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  margin-inline: auto;
  font-family: Roboto;
}
body .bck-ground {
  background-image: url("../assets/Ellipses1.png"), url("../assets/Ellipses2.png");
  background-repeat: no-repeat;
  background-position: 0px 370px, 485px 400px;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */