footer {
    .footer-middle {
        padding: 48px 80px 48px 80px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        border-bottom: 1.5px solid #E2E8F0;
        .footer-list {
            h5 {
                color: $main-black;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%; /* 17.6px */
                text-transform: uppercase;
            }

            ul {
                padding: 12px 0px;
                a{
                    text-decoration: none;
                    color: $main-gray;
                    /* Body/M */
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 22.4px */
                }

                a:hover{
                    color: $main-black;
                }

                li {
                    padding: 12px 0px 12px 0px;
                    color: $main-gray;
                    // /* Body/M */
                    // font-family: Roboto;
                    // font-size: 16px;
                    // font-style: normal;
                    // font-weight: 400;
                    // line-height: 140%; /* 22.4px */
                }

                // li:hover{
                //     color: $main-black;
                // }
            }
        }
    }

    .footer-bottom {
        padding: 24px 80px;
        display: flex;
        justify-content: space-between;
        p {
            color: $main-gray;
            /* Body/M */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }

        .txt{
            padding: 12px 0px;
        }
        
        .links {
            display: flex;
            gap: 48px;
            &-txt {
                display: flex;
                gap: 24px;
                padding: 12px 0px;
                a {
                    text-decoration: none;
                    color: $main-gray;
                    /* Body/M */
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 22.4px */
                }
                a:hover{
                    color: $main-black;
                }
            }

            &-brands{
                display: flex;
                gap: 16px;
                padding: 10px 0px;
                .yt:hover{
                        transform: scale(1.15);
                        transition: 0.7s;
                }
                .fb:hover{
                        transform: scale(1.15);
                        transition: 0.7s;
                }
                .tw:hover{
                        transform: scale(1.15);
                        transition: 0.7s;
                }
                .ig:hover{
                        transform: scale(1.15);
                        transition: 0.7s;
                }
                .in:hover{
                        transform: scale(1.15);
                        transition: 0.7s;
                }
            }
        }
    }
}
