.plans {
    padding: 80px 80px 11px 80px;
    
    .container-st {
        .plans-header {
            h1 {
                margin-top: 80px;
                text-align: center;
                font-size: 56px;
                font-style: normal;
                font-weight: 800;
                line-height: 110%; /* 61.6px */
            }

            p {
                margin-top: 30px;
                text-align: center;
            }

            .btn {
                display: flex !important;
                justify-content: center !important;
            }
        }

        button {
            margin-top: 30px;
            color: $main-violet;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 120% */
            letter-spacing: 0.5px;
            background-color: #fff;
            padding: 16px 32px;
            border-radius: 50px;
            border: 2px solid var(--violet-600, #7c3aed);
        }

        button:hover{
            color: #fff;
            background-color: $main-violet;
            border: 2px solid var(--black-600, $main-black);
        }
    }

    &-body {
        margin-top: 80px;
        display: flex;
        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 20px */
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $main-gray;
        }

        h1 {
            margin-top: 16px;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 110%; /* 61.6px */
        }

        p {
            margin-top: 32px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
        }
        .img-position {
            margin-right: 80px;

            .tablet {
                position: absolute;
            }

            .body-pose {
                margin-top: 116px;
                margin-left: 313px;
                .content-box {
                    position: relative;
                    background-color: #fff;
                    box-shadow: 20px 40px 80px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    padding: 5px;
                    gap: 10px;
                    width: fit-content;
                    height: fit-content;
                    border: #0f172a;

                    .avatar {
                        display: flex;
                        align-items: center;
                        align-self: stretch;
                        gap: 8px;
                        margin: 16px;
                        span {
                            color: $main-black;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; /* 19.6px */
                        }
                    }
                }
                .cursor {
                    margin-left: -40px;
                }
            }
        }
    }
}
