@mixin mainBtn {
    font-size: 24px;
    font-family: inherit;
    border-radius: 50px;
    border: 2px solid var(--violet-600, #7c3aed);
    background: var(--violet-600, #7c3aed);
    padding: 20px 24px;
}

$main-black: #0F172A;
$main-violet: #7C3AED;
$main-gray: #475569;
$secondary-violet:#A78BFA;
$secondary-gray: #F1F5F9;

@import "./message";
@import "./plans";
@import "./reviews";


*,
html,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}
