@mixin mainBtn {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 0.5px;
    background-color: $main-violet;
    padding: 20px 48px;
    border-radius: 50px;
    border: none !important;
    box-shadow: 20px 40px 80px 0px rgba(9, 9, 10, 0.2);
}

$main-black: #0f172a;
$main-violet: #7c3aed;
$main-gray: #475569;
$secondary-violet: #a78bfa;
$secondary-gray: #f1f5f9;
$third-violet: #4c1d95;

@import "./hero";
@import "./header";
@import "./message";
@import "./plans";
@import "./reviews";
@import "./footer";
@import "./buttom";

*,
html,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {

    margin-inline: auto;
    font-family: Roboto;

    .bck-ground {
    background-image: url("../assets/Ellipses1.png"), url("../assets/Ellipses2.png");
    background-repeat: no-repeat;
    background-position: 0px 370px, 485px 400px;
    }
}

li {
    list-style-type: none;
}
